
:root {
	--white: #ffffff;
	--light: #f0eff3;
	--black: #000000;
	--dark-blue: #1f6069;
	--dark-light: #353746;
	--red: #fa2c0d;
	--yellow: #f8ab37;
	--grey: #e6e6e6;
	--dark-gray: #aaaaaa;
}

/* #Primary
================================================== */

body{
	width: 100%;
	background: var(--dark-gray);
	overflow-x: hidden;
    font-family: 'Calibri', sans-serif;
	font-size: 16px;
	line-height: 20px;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
	max-width : 330px;
	text-align: center;
}
input {
    border: 0px;
    height: 20px;
    text-align: center;
}
p{
    font-family: 'Calibri', sans-serif;
	font-size: 16px;
	line-height: 1px;
	color: var(--black);
	letter-spacing: 1px;
	font-weight: 500;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
h1,h2 {
	color: var(--white);
	text-shadow: 2px 2px 2px black;
}
::selection {
	color: var(--white);
	background-color: var(--black);
}
::-moz-selection {
	color: var(--white);
	background-color: var(--black);
}
mark{
	color: var(--white);
	background-color: var(--black);
}
.section {
    position: relative;
	width: 100%;
	display: block;
	text-align: center;
	margin: 0 auto;
}
.over-hide {
    overflow: hidden;
}
.z-bigger {
    z-index: 100 !important;
}

.background-color{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--gray);
	z-index: 1;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}

.checkboxcontainer{
  height: 480px;
  overflow-y : auto;
  width: 320px;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 1px;
	width: 300px;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: center;
	border-radius: 15px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	color: var(--white);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-tools:not(:checked) + label{
	background-color: var(--dark-light);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-tools:checked + label{
	background-color: transparent;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: left;
	border-radius: 15px;
	background-image: linear-gradient(298deg, var(--red), var(--yellow));
	z-index: -1;
}
.checkbox-tools:checked + label .uil,
.checkbox-tools:not(:checked) + label .uil{
	font-size: 15px;
	line-height: 20px;
	text-align: left;
	float:left;
	margin-left: 2px;
/*	display: block; */
	padding-bottom: 1px;
}


.buttonscontainer{
	width: 100%;
}


.buttons{
	background-color: var(--dark-light);
	text-align:center;
	line-height: 22px;
	color:#FFFFFF;
	width:150px;
	height: 30px;
	padding:3px;
	border:2px solid #FFFFFF;
	font-size:14px;
	border-radius:15px;
	cursor: pointer;
}


.input-list {
    text-align : center;
}


